<div class="flex flex-col items-center my-8">
    <h1 class="text-center text-3xl">
        {{ section.settings.title }}
    </h1>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-{{ section.settings.number_of_column }} gap-4">
            {% for product in section.settings.featured_collection.products limit: section.settings.limit_number %}
                {% render 'product-card', product_product: product %}
            {% else %}
                {% for item in (1..4) %}
                    {% render 'product-card-placeholder' %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
   "name": "Featured Collection",
  "settings": [
    {
       "type": "text",
       "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    },
    {
       "type": "collection",
       "id": "featured_collection",
       "label": "Collection"

    },
    {
       "type": "range",
       "id": "number_of_column",
       "default": 4,
       "min": 3,
       "max": 5,
       "label": "Number of Column"
    },
    {
       "type": "range",
       "id": "limit_number",
       "min": 4,
       "max": 12,
       "default": 4,
       "label": "Products to show"
    }
  ],
 "presets": [
    {
        "name": "Featured Collection"
    }
 ]
}
{% endschema %}